<h1>SearchMedics#index</h1>

<%= form_tag url_for(:controller => "take_hours", :action => 'index' ), method: "get"  do %>
	<div>
  <%= label_tag(:nombre, "Nombre")%><br />
  <%= text_field_tag (:nombre) %>
	</div>
	<div>
  <%= label_tag(:paterno, "Apellido Paterno")%><br />
  <%= text_field_tag (:paterno) %>
	</div>
	<div>
  <%= label_tag(:materno, "Apellido Materno")%><br />
  <%= text_field_tag (:materno) %>
	</div>
  <%= submit_tag "Buscar" %>
<% end %>
