<div class = "users index">
	<h2>Users index</h2>
	<%= link_to("Ingresar nuevo usuario", {:action => 'new'}, :class => 'action new') %>
	<table class = "listing" summary = "users list">
	 <tr class = "header">
	  <th>&snbp;</th>
	  <th>UserId</th>
	  <th>Nombre</th>
	  <th>Email</th>
	  <th>Acciones</th>
	 </tr>
	<% @users.each do |user| %>
	<tr>
	 <td><%= user.user_id %></td>
	 <td><%= user.user_id %></td>
	 <td class = "center"><%= user.user_NAMES %></td>
	 <td class = "center"><%= user.user_EMAIL %></td>
	 <td class = "actions">
		<%= link_to("Mostrar", {:action => 'show', :id => user.user_id}, :class => 'action show') %>
		<%= link_to("Editar", {:action => 'edit', :id => user.user_id}, :class => 'action edit') %>
		<%= link_to("Borrar", "#", :class => 'action delete') %>
	 </td>
	</tr>
	<% end %>
	</table>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<%= current_user.user_NAMES %>
	<%= current_user.email %>
	<%= current_user.user_ID %>

</div>
