<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <%= image_tag('logo.png')%></a>
        </div>
        
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Inicio",  welcome_index_path %></li>
                <li><%= link_to "Iniciar sesión",  new_user_session_path %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pedir Hora Médica</a></li>
                        <li><a href="#">Ver Fichas</a></li>
                    </ul>
                <li><a href="4#">Acerca de Nosotros</a></li>
                <li><%= link_to "Ubicaciones",  establishments_index_path %></li>
                <li><a href="#">Blog</a></li> 
                <li><a href="#">Contacto</a></li>                        
            </ul>
        </div>
    </div><!--/.container-->
</nav><!--/nav-->

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url('/assets/slider/bg1.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Gracias a su confianza y preferencia nos hemos convertido en una clínica de excelencia</h1>
                                <h2 class="animation animated-item-2">Se reconoce a Clínica Usach por sus logros destacados en el campo de la excelencia</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Leer Más</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <%= image_tag('slider/img1.png', :class => 'img-responsive') %>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url('/assets/slider/bg3.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Nuevos Hospitales Dentales</h1>
                                <h2 class="animation animated-item-2">Tratamientos odontológicos de todo tipo. Los mejores profesionales para darle una atención de primer nivel. Primera evaluación Gratis</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Leer Más</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <%= image_tag('slider/img3.png', :class => 'img-responsive') %>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url('/assets/slider/bg2.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Lo Nuevo en Geriatría</h1>
                                <h2 class="animation animated-item-2">Planes que se adecúan a lás necesidades de nuestros pacientes</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Leer Más</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <%= image_tag('slider/img2.png', :class => 'img-responsive') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->

<section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Destacados</h2>
                <p class="lead">En clínica Usach nos esforzamos por darte la mejor atención posible,<br>es por eso que ponemos a tu disposición los siguientes servicios</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-calendar-o"></i>
                            <h2>Reserva de Horas</h2>
                            <h3>Podrás reservar horas médicas de manera online</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-book"></i>
                            <h2>Ver Resultados</h2>
                            <h3>Pronto podrás acceder a tus resultados a través del portal</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-users"></i>
                            <h2>Búsqueda de Médicos</h2>
                            <h3>Puedes obtener información de médicos en la sección de servicios</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-question-circle"></i>
                            <h2>Información</h2>
                            <h3>Encontrarás info. de tópicos como Aranceles, Reglamentos y Pagos</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Mejora Constante</h2>
                            <h3>En Clínica Usach siempre estamos buscando los más altos estándares</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Salud</h2>
                            <h3>Pronto se encontrarán disponibles guías para mejorar tu calidad de vida </h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->


