<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <%= image_tag('logo.png')%></a>
        </div>
        
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Inicio",  welcome_index_path %></li>
                <li><%= link_to "Iniciar sesión",  new_user_session_path %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="404.html">Pedir Hora Médica</a></li>
                        <li><a href="404.html">Ver Fichas</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="404.html">Shortcodes</a></li>
                    </ul>
                <li><a href="404.html">Acerca de Nosotros</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="404.html">Blog Single</a></li>
                        <li><a href="404.html">Pricing</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="404.html">Shortcodes</a></li>
                    </ul>
                </li>
                <li><a href="404.html">Blog</a></li> 
                <li><a href="404.html">Contacto</a></li>                        
            </ul>
        </div>
    </div><!--/.container-->
</nav><!--/nav-->

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url('/assets/slider/bg1.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Gracias a su confianza y preferencia nos hemos convertido en una clínica de excelencia</h1>
                                <h2 class="animation animated-item-2">Se reconoce a Clínica Usach por sus logros destacados en el campo de la excelencia</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Leer Más</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <%= image_tag('slider/img1.png', :class => 'img-responsive') %>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url('/assets/slider/bg2.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Lo Nuevo en Geriatría</h1>
                                <h2 class="animation animated-item-2">Planes que se adecúan a lás necesidades de nuestros pacientes</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Leer Más</a>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <%= image_tag('slider/img2.png', :class => 'img-responsive') %>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url('/assets/slider/bg3.jpg')">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Nuevos Hospitales Dentales</h1>
                                <h2 class="animation animated-item-2">Tratamientos odontológicos de todo tipo. Los mejores profesionales para darle una atención de primer nivel. Primera evaluación Gratis</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Leer Más</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <%= image_tag('slider/img3.png', :class => 'img-responsive') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->


<%= link_to "Ubicación",  establishments_index_path %>
