<head>
  <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body style = "background-color: #d3d3d3">
	<section id="about-us">
		<div class = "container" >
			<div class="center wow fadeInDown">
				<h2> Confirmación</h2>
			</div>
			 <div class="main-login search-center">
				<h2>Confirmar hora con el/la doctor(a) <%= @doctor[0].user_NAMES %> <%= @doctor[0].user_LASTNAME1 %> <%= @doctor[0].user_LASTNAME2 %> para la especialidad <%= @spec[0].SPEC_NAME %>.</h2></br>
				<h2>Fecha: <%= @ab[0].AB_DATE %> a las <%= Time.parse(@hora_inicio).strftime('%H:%M')%> horas</h2>

				<p><%= link_to "<button class= 'btn btn-primary btn-lg btn-block login-button' >Confirmar</button>".html_safe, {:action => 'message1', :patient_id => @paciente[0].patient_id, :ab_id => @ab[0].AB_ID, :hora_inicio => @hora_inicio, :hora_fin => @hora_fin} %></p>
			</div></p>
		</div>
	</section>
</body>






