<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <%= image_tag('logo.png')%></a>
        </div>
        
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><%= link_to "Inicio",  welcome_index_path %></li>
                <li><%= link_to "Iniciar sesión",  new_user_session_path %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Reservar Hora Médica", search_index_path %></li>
                        <li><a href="#">Ver Fichas</a></li>
                    </ul>
                <li><a href="#">Acerca de Nosotros</a></li>
                <li class="active"><%= link_to "Ubicaciones",  establishments_index_path %></li>
                <li><a href="#">Blog</a></li> 
                <li><a href="#">Contacto</a></li>                        
            </ul>
        </div>
    </div><!--/.container-->
</nav><!--/nav-->

<div class = "establishments index">
	<h2>Establecimientos</h2>
	<table class = "listing" summary = "establishments list">
	 <tr class = "header">
	  <th>ID</th>
	  <th>Comuna</th>
	  <th>Dirección</th>
	  <th>Teléfono</th>
	 </tr>
	<% @ests.each do |est| %>
	  <% @coms.each do |com| %>
	     <% if est.commune_id == com.commune_id %>
		<tr>
		 <td><%= est.EST_ID %></td>
		 <td><%= com.commune_NAME%></td>
		 <td class = "center"><%= est.EST_ADDRESS %></td>
		 <td class = "center"><%= est.EST_PHONE %></td>
		</tr>
	      <% end %>
	  <% end %>
	<% end %>
	</table>
</div>
